@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Monserrat', sans-serif;
}

.container {
    display: flex;
}

.sidebar {
    height: 1024px;
    width: 273px;
    flex-direction: column;
    align-items: center;
    display: flex;
    background-color: #bfb0a0;
}

.sidebar h3 {
    font-size: 32px;
    font-weight: 700;
    padding: 50px;
    padding-top: 30px;
    padding-bottom: 0;
    text-align: center;
    cursor: pointer;
}

.sidebar .menu {
    display: flex;
    flex-direction: column;

    width: 200px;
    margin-top: 100px;
}

.sidebar .menu .button {
    /* background-color: aqua; */
    display: flex;
    align-items: center;
}

.sidebar .menu a{
    text-decoration: none;
    color: #312c38;
    font-size: 25px;
    position: relative;
}

.sidebar .menu p {
    padding: 30px;
}

.menu a:after {
    content: "";
    position: absolute;
    background-color: #f7f7f7;
    height: 6px;
    width: 0;
    left: 0;
    bottom: -10px;
    border-radius: 5px;
    transition: 0.3s;
}

.menu a:hover::after{
    width: 100px;
}

.contain {
    display: flex;
    position: relative;
    align-items: center;
    width: 82%;
}

.contain .header {
    padding: 50px;
    padding-bottom: 65%;
    /* margin-bottom: 55%; */
    margin-left: 377px;
    margin-right: 375px;
    position: absolute;
    color: #312c38;
}

.contain .table .data {
    padding-bottom: 20%;
}

.link_tmbh h4 {
    display: flex;
    position: absolute;
    justify-content: center;
    left: 155px;
    margin-top: -250px;
    text-align: center;
    width: 220px;
    border-bottom: 2px solid #312c38;
    padding: 5px;
    /* background-color: aqua; */
}

.link_tmbh h4 a {
    font-size: 24px;
    font-weight: bold;
    color: #312c38;
    text-decoration: none;
    cursor: pointer;
}

.table {
    position: relative;
    justify-content: center;
    margin: auto;
    margin-top: 328px;
} 

.table table tr th {
    padding: 55px;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #e2dcc8;
    font-size: 24px;
    font-weight: 700;
    color: #312c38;
}

.table table tr td {
    /* padding: 55px; */
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: #bfb0a0;
}

.table tr td #a1 {
    border: 1px solid #312c38;
    text-decoration: none;
    color: black;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
}

.table tr td #a2 {
    border: 1px solid #312c38;
    text-decoration: none;
    color: black;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
}

.content-tambah table{
    background-color: #bfb0a0;
    width: 55%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 50px;
    margin: 250px;
    margin-top: 16%;
    position: absolute;
    border-radius: 15px;
}


.input {
    padding-left: 10px;
    width: 80%;
    height: 35px;
    border: 1px solid #312c38;
    border-bottom: 1px solid #e2dcc8;
    margin-top: 20px;
    border-radius: 5px;
}

.submit {
    padding: 12px 14px;
    background: #fff;
    color: #312c38;
    border-radius: 5px;
    margin-top: 20px;
    float: right;
    margin-right: 90px;
}

.text-area {
    padding-left: 10px;
    width: 80%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #312c38;
    border-bottom: 1px solid #e2dcc8;
    margin-top: 20px;
}
.content-tambah .header {
    margin-top: 8%;
    margin-left: 500px;
    position: absolute;
    color: #312c38;
}
